<div class="jumbotron text-center">
  <h1>Amicale des Beaudottes</h1>
</div>

<hr width=100%>

<div class="panel panel-default menu1">
  <div class="panel-body text-center">
  	<a><class="btn btn-success"> <%= link_to "Envoyer une photo", new_photo_path %></a>
  </div>
</div>

<hr width=100%>

<div class="panel panel-default menu2">
  <div class="panel-body text-center">
    <button type="button" class="btn btn-warning">Laisser un message vocal</button>
  </div>
</div>